Container styling
.map-container {
    text-align: center;
    margin: 120px auto;
    height: 900px;
    width: 100%;
  }

  
  .map-box {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .error-message {
    color: red;
    font-size: 18px;
    margin-top: 10px;
  }
  